# ——————————————
# 1. 忽略根下所有
/*

# 2. 放行自身和根文件
!/.gitignore
!/app-release.apk

# ——————————————
# 3. 放行 frontend 目录本身
!/frontend/
#    然后在 frontend 里，只保留 lib/** 和 pubspec.yaml
/frontend/*
!/frontend/lib/
!/frontend/lib/**
!/frontend/pubspec.yaml

# ——————————————
# 4. 放行 backend 目录本身
!/backend/
#    然后在 backend 里，只保留 src/** 和 public/**
/backend/*
!/backend/src/
!/backend/src/**
!/backend/public/
!/backend/public/**
